/* 公用样式 */
.left {
  float: left;
}

.di {
  display: none;
}

.right {
  float: right;
}

.clearfix:before {
  content: " ";
  display: table;
  clear: both;
  visibility: hidden;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1
}

a {
  font-family: "微软雅黑";
  color: #111;
  text-decoration: none;
}

/* 字体图标 */

@font-face {
  font-family: wl;
  src: url(../font/iconfont.eot) format("embedded-opentype"),
        url(../font/iconfont.svg) format("svg"),
        url(../font/iconfont.ttf) format("truetype"),
        url(../font/iconfont.woff) format("woff");
}

[class^="wl-"],[class*=" wl-"]{
  font-family: wl;
  font-style: normal;
}

.wl-k::before{
  content: "\e958";
  font-size: 13px;
}

/* 公用样式结束 */
/* nav开始 */
.nav {
  width: 100%;
  height: 86px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  z-index: 99;
}

.nav-logo {
  width: 400px;
}

.nav .nav-logo a img {
  float: left;
  margin-top: 16px;
  margin-right: 10px;
}

.nav .nav-logo a h2 {
  font-size: 22px;
  color: #000;
  margin-top: 20px;
  font-weight: normal;
}

.nav .nav-logo a p {
  color: #666;
}

/* nav-list */
.nav-list ul {
  margin-top: 28px;
  margin-right: 20px;
}

.nav-list ul li {
  float: left;
  width: 68px;
  height: 20px;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
  position: relative;
  overflow: hidden;
}

.nav-list ul li p {
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.4s;
}

.nav-list ul li a {
  font-size: 16px;
  line-height: 20px;
}

.nav-list ul li:hover p {
  top: -20px;
}

/* nav结束 */
/* banner开始 */
.banner {
  height: 450px;
  margin-top: 86px;
}

.banner1,
.banner2,
.banner3,
.banner4 {
  height: 450px;
  background: url(../images/banner1-bg.jpg) no-repeat 0 0;
  background-size: cover;
}

.banner .ban {
  width: 1200px;
  margin: 0 auto;
  height: 450px;
  position: relative;
  overflow: hidden;
}

.fir .im1 {
  width: 343px;
  height: 79px;
  position: absolute;
  right: 210px;
  top: 90px;
  animation: im1 0.8s linear;
}

@keyframes im1 {
  from {
    top: -79px;
  }
}

.fir .im2 {
  width: 500px;
  height: 35px;
  position: absolute;
  top: 200px;
  right: 140px;
  animation: im2 0.8s linear;
}

@keyframes im2 {
  from {
    right: -500px;
  }
}

.fir .im3 {
  width: 317px;
  height: 77px;
  position: absolute;
  right: 200px;
  bottom: 100px;
  animation: im3 0.8s linear;
}

@keyframes im3 {
  from {
    bottom: -77px;
  }
}

.fir .im4 {
  width: 525px;
  height: 418px;
  position: absolute;
  top: 24px;
  left: 49px;
  animation: im4 0.8s linear;
}

@keyframes im4 {
  from {
    left: -554px;
  }
}

.fir .im5 {
  width: 112px;
  height: 78px;
  position: absolute;
  left: 300px;
  top: 179px;
  opacity: 0;
  animation: im5 0.8s 0.8s linear;
}

@keyframes im5 {
  from {
    top: 450px;
    opacity: 1;
    transform: rotate(-360deg)
  }

  to {
    opacity: 1;
  }
}

.fir .im6 {
  width: 77px;
  height: 54px;
  position: absolute;
  left: 161px;
  opacity: 0;
  top: 180px;
  animation: im6 0.8s 0.8s linear;
}

@keyframes im6 {
  from {
    left: -238px;
    opacity: 1;
    transform: rotate(-180deg)
  }

  to {
    opacity: 1;
  }
}

.fir .im7 {
  width: 61px;
  height: 43px;
  position: absolute;
  opacity: 0;
  left: 152px;
  top: 114px;
  animation: im7 0.8s 0.8s linear;
}

@keyframes im7 {
  from {
    left: -118px;
    opacity: 1;
    transform: rotate(-180deg)
  }

  to {
    opacity: 1;
  }
}

.fir .im8 {
  width: 71px;
  height: 51px;
  opacity: 0;
  position: absolute;
  left: 434px;
  top: 54px;
  animation: im8 0.8s 0.8s linear;
}

@keyframes im8 {
  from {
    top: -108px;
    opacity: 1;
    transform: rotate(-180deg)
  }

  to {
    opacity: 1;
  }
}

.banner2 {
  background: #e14c39;
}

.sec .im1 {
  width: 468px;
  height: 345px;
  position: absolute;
  top: 80px;
  right: 85px;
  animation: sec1 0.8s linear;
}

@keyframes sec1 {
  from {
    transform: scale(0.1)
  }
}

.sec .im2 {
  position: absolute;
  top: 240px;
  right: 401px;
  opacity: 0;
  animation: sec2 0.8s 0.8s linear forwards;
}

@keyframes sec2 {
  from {
    top: 450px;
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.sec .im3 {
  position: absolute;
  bottom: 0;
  opacity: 0;
  right: 41px;
  animation: sec3 0.8s 0.8s linear forwards;
}

@keyframes sec3 {
  from {
    bottom: -257px;
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.sec .p1 {
  position: absolute;
  top: 50px;
  left: 100px;
  opacity: 0;
  animation: sec4 0.8s 0.8s linear forwards;
}

.sec .p2 {
  position: absolute;
  top: 140px;
  left: 200px;
  opacity: 0;
  animation: sec4 0.8s 1.6s linear forwards;
}

.sec .p3 {
  position: absolute;
  bottom: 110px;
  left: 110px;
  opacity: 0;
  animation: sec4 0.8s 2.4s linear forwards;
}

@keyframes sec4 {
  from {
    left: -800px;
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@keyframes sec5 {
  from {
    left: -800px;
    opacity: 1;
    transform: rotate(-360deg)
  }

  to {
    opacity: 1;
  }
}

.sp3 {
  display: block;
}

.sec .im4 {
  position: absolute;
  bottom: 50px;
  left: 100px;
  opacity: 0;
  animation: sec5 0.8s 3.2s linear forwards;
}

.sec .sp1 {
  color: #dafff8;
  font-size: 30px;
}

.sec .sp2 {
  color: #ffee55;
  font-size: 46px;
  font-weight: 700;
}

.sec .sp3 {
  color: #030600;
  font-size: 20px;
}

.sec .p1 .sp3 {
  margin-left: -20px;
}

.sec .p2 .sp3 {
  margin-left: -40px;
}

.sec .p3 .sp2 {
  display: block;
  color: #ffee55;
  font-size: 18px;
}

/* banner3 */
.banner3 {
  background: #ffe100;
}

.thd .th1 {
  font-size: 20px;
  font-style: italic;
  width: 520px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  left: 400px;
  top: 60px;
  color: #542d00;
  animation: thd1 0.4s linear;
}

.thd .th2 {
  font-size: 20px;
  width: 520px;
  height: 80px;
  position: absolute;
  top: 80px;
  left: 400px;
  animation: thd1 0.8s linear;
}

.thd .th2 .sp1 {
  font-size: 66px;
  color: #4f3011;
  font-weight: 700;
  font-style: italic;
  margin-right: 10px;
}

.thd .th2 .sp2 {
  font-size: 46px;
  font-weight: 700;
  color: #b35404;
  font-style: italic;
  vertical-align: 15px;
}

.thd .th3 {
  font-size: 26px;
  height: 20px;
  color: #975f00;
  position: absolute;
  top: 170px;
  left: 390px;
  opacity: 0;
  animation: thd1 0.4s 0.8s linear forwards;
}

@keyframes thd1 {
  from {
    transform: translateY(-300px);
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

.thd img {
  position: absolute;
}

.thd .im1 {
  top: 210px;
  left: 350px;
  opacity: 0;
  animation: thd1 0.4s 1.2s linear forwards;
}

.thd .im2 {
  top: 180px;
  left: 205px;
  animation: thd1 1.6s ease-out;
}

.thd .im3 {
  bottom: -300px;
  left: 180px;
  animation: thd2 0.4s 1.6s linear forwards;
}

.thd .im4 {
  bottom: 0px;
  left: 650px;
  opacity: 0;
  animation: thd3 0.4s 2s linear forwards;
}

.thd .im5 {
  bottom: 0;
  left: 530px;
  opacity: 0;
  animation: thd3 0.4s 2.4s linear forwards;
}

.thd .im6 {
  bottom: 0;
  left: 430px;
  opacity: 0;
  animation: thd3 0.4s 2.8s linear forwards;
}

.thd .im7 {
  bottom: 0;
  left: 280px;
  opacity: 0;
  animation: thd3 0.4s 3.2s linear forwards;
}

@keyframes thd2 {
  to {
    bottom: 0px;
  }
}

@keyframes thd3 {
  from {
    left: -300px;
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

/* banner4 */
.banner4 {
  background: url(../images/banner4-bg.jpg) no-repeat 0 0;
}

.fou img {
  position: absolute;
}

.fou .im1 {
  top: 10px;
  left: 0px;
}

.fou .im2 {
  top: 76px;
  left: 0px;
}

.fou .dian {
  width: 329px;
  height: 230px;
  position: absolute;
  left: 114px;
  top: 114px;
  overflow: hidden;
}

.fou .im4 {
  right: 0px;
  top: 200px;
  opacity: 0;
  animation: fou1 0.4s linear forwards;
}

.fou .im5 {
  top: 100px;
  right: 126px;
  animation: fou2 0.4s linear forwards;
}

.fou .im6 {
  top: 250px;
  right: 0px;
  opacity: 0;
  animation: fou1 0.4s 0.4s linear forwards;
}

@keyframes fou1 {
  from {
    right: -500px;
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fou2 {
  from {
    opacity: 1;
    top: -100px;
  }

  to {
    opacity: 1;
  }
}

.dian img {
  animation: fou3 1.2s linear forwards;
}

@keyframes fou3 {
  0% {
    transform: translateY(-500px) scale(0)
  }

  30% {
    transform: translateY(-250px) scale(0.5)
  }

  50% {
    transform: translateY(0px) scale(1)
  }

  80% {
    transform: translateY(-230px)
  }

  100% {
    transform: translateY(-430px)
  }
}

.fou .p1 {
  height: 22px;
  width: 300px;
  line-height: 22px;
  color: #eeffff;
  font-size: 20px;
  position: absolute;
  top: 280px;
  right: 138px;
  opacity: 0;
  animation: fou1 0.4s 0.8s linear forwards;
}

.fou .im7 {
  bottom: 0;
  left: 430px;
}

.fou .im8 {
  opacity: 0;
  animation: fou4 1s 1.2s linear forwards;
}

@keyframes fou4 {
  0% {
    opacity: 1;
    transform: translateY(-500px) scale(0)
  }

  30% {
    opacity: 1;
    transform: translateY(-250px) scale(0.5)
  }

  50% {
    opacity: 1;
    transform: translateY(0px) scale(1)
  }

  80% {
    opacity: 1;
    transform: translateY(-30px)
  }

  100% {
    opacity: 1;
    transform: translateY(-230px)
  }
}

.fou .shou {
  width: 100px;
  height: 180px;
  position: absolute;
  bottom: 82px;
  left: 433px;
  overflow: hidden;
}

.fou .im9 {
  top: 50px;
  left: 499px;
  opacity: 0;
  animation: fou2 0.4s 2.5s linear forwards;
}

/* 主营业务 */
.zy-header {
  width: 100%;
  height: 160px;
  background: url(../images/title_bg1.jpg) no-repeat center bottom;
  border-bottom: 2px solid #666;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.zy-header h2 {
  width: 210px;
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid #f00;
  bottom: -2px;
  position: absolute;
}

.zyyw .zy-content {
  width: 1000px;
  height: 410px;
  background-color: #0ff;
  margin: 0 auto;
}

.zy-content ul .con-img{
  width: 100px;
  height: 100px;
  background: url(../images/web-jian1.png) no-repeat 0 0;
  background-size: cover;
}