.art_main ._view_ {
  width: 980px;
}

.art_main .art_nav {
  width: 198px;
}

.art_nav h2 {
  background-color: #949494;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

aside section {
  height: auto;
  padding: 10px;
  border: 1px solid #dddddd;
  border-top: 0px;
}

aside section dl dt {
  height: 20px;
  padding: 5px 10px;
  border-bottom: dotted 1px #d7d7d7;
}

aside section dl dd {
  padding: 0 10px;
  overflow: hidden;
}

aside span.dt_txt {
  line-height: 20px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #444444;
  vertical-align: top
}

aside span.dt_ico {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 2px 0;
  overflow: hidden;
  background: url(../image/hc-icon.png) no-repeat;
  background-position: 0px -101px;
}

aside section dl dd a {
  display: block;
  height: 24px;
  line-height: 24px;
  padding-left: 23px;
  background: url(../image/hc-icon.png) 0 -30px no-repeat;
  text-decoration: none;
  overflow: hidden;
}

aside section dl dd:nth-of-type(even) a {
  background-position: 0 -31px;
}

aside section dl dd a:hover {
  background-position: 0 -55px;
  color: #fff !important;
}

aside section .art_ico2 {
  background-position: -16px -101px;
}

aside section .art_ico3 {
  background-position: -32px -101px;
}

aside section .art_ico4 {
  background-position: -48px -101px;
}

.art_nav .aside_txt {
  font-size: 14px;
  color: #FFF;
  font-family: "微软雅黑";
  font-weight: bold;
}

/* 右边 */

.art_right {
  width: 760px;
  border: 1px solid #dddddd;
}

.art_right .right_title {
  width: 740px;
  height: 30px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0 10px;
  line-height: 30px;
  background: url(../image/hc-line.png) no-repeat 5px center;
}

.art_right .right_content {
  width: 720px;
  padding: 20px;
}
.art_right .right_content p{
  line-height: 20px;
}

.art_right .right_content h1 {
  line-height: 30px;
  padding-left: 18px;
  margin-top: 10px;
  background: url(../image/hc-num1.jpg) 0 center no-repeat;
}

.art_right .right_content h1:nth-of-type(2) {
  background: url(../image/hc-num2.jpg) 0 center no-repeat;
}

.art_right .right_content h1:nth-of-type(3) {
  background: url(../image/hc-num3.jpg) 0 center no-repeat;
}

.art_right .right_content .mb10 {
  margin-left: 20px;
}
.art_right .right_content .CT{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #ddd;
}