<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8">
  <meta name="viewport' content='width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible' content='ie=edge">
  <title>Vue</title>
  <script src="js/vue.js"></script>
  <script src="js/vue-router.js"></script>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      margin: 20px;
    }

    img {
      width: 100px;
    }

    .lyric {
      width: 500px;
      height: 400px;
      overflow: auto;
    }

    .user {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div id="app">
    <!-- <keep-alive> -->
    <router-view></router-view>
    <!-- </keep-alive> -->
  </div>

</body>
<script>
  let singList = {
    template: `
    <div>
      <h1>歌单列表</h1>
      <ul>
        <li v-for="item in list">
            <img :src="item.coverImgUrl" alt="">
            <h4>{{item.name}}</h4>
            <p>{{item.description|st}}</p>
            <router-link :to="'/detail/' + item.id">歌单详情</router-link>
        </li>
      </ul>
    </div>
    `,
    data() {
      return {
        list: []
      }
    },
    created() {
      this.$ajax('http://musicapi.leanapp.cn/top/playlist/highquality?limit=50').then((data) => {
        // console.log(data);
        this.list = data.playlists
      })
    },
    filters: {
      st(val) {
        return val.slice(0, 80) + "....."
      }
    }
  }

  let detail = {
    template: `
    <div>

      <h1>歌单详情</h1>
      <button @click="$router.go(-1)">返回</button>
      <ul>
        <li v-for="item in list">
            <img :src="item.al.picUrl" alt="">
            <h4>{{item.name}}</h4>
            <p>{{item.ar[0].name}}</p>
            <router-link :to="'/player/' + item.id + '/' + item.name">播放</router-link>
        </li>
      </ul>
    </div>
    `,
    data() {
      return {
        list: []
      }
    },
    created() {
      this.$ajax('http://musicapi.leanapp.cn/playlist/detail?limit=20&id=' + this.$route.params.id).then((data) => {
        // console.log(data.playlist.tracks);
        this.list = data.playlist.tracks.slice(0, 10)
      })
    }
  }


  let player = {
    template: `
    <div>
      <button @click="$router.go(-1)">返回</button>
      <h1>{{$route.params.title}}</h1>
      <audio :src="url" controls></audio>
      <ul class="lyric">
        <li v-for="item in lyric">{{item}}</li>
      </ul>

      <ul>
        <li v-for="item in com">
          <span class="user">{{item.user.nickname}} : </span>{{item.content}}
        </li>
      </ul>
    </div>
    `,
    data() {
      return {
        url: '',
        lyric: [],
        com: []
      }
    },
    created() {
      this.$ajax('http://musicapi.leanapp.cn/music/url?id=' + this.$route.params.id).then((data) => {
        console.log(data.data[0].url);
        this.url = data.data[0].url
      })
      this.$ajax('http://musicapi.leanapp.cn/lyric?id=' + this.$route.params.id).then((data) => {
        // let timeReg = /\[(\d*:\d*\.\d*)\]/;
        console.log(data.lrc.lyric.split("\n"));
        this.lyric = data.lrc.lyric.split("\n");
      })
      this.$ajax('http://musicapi.leanapp.cn/comment/music?id=' + this.$route.params.id).then((data) => {
        console.log(data.comments);
        this.com = data.comments
      })
    }
  }
  // ajax方法封装

  Vue.prototype.$ajax = (url) => {
    return new Promise((resolve, reject) => {
      let xhr = new XMLHttpRequest();
      let timeS = new Date().getTime().toString();
      xhr.open("GET", url + "&timeS=" + timeS);
      xhr.send();
      xhr.onreadystatechange = () => {
        if (xhr.readyState == 4) {
          if (xhr.status == 200) {
            resolve(JSON.parse(xhr.responseText))
          } else {
            reject("err", xhr.status)
          }
        }
      }
    })
  }


  let app = new Vue({
    el: '#app', //指定根元素
    data: { //实例数据

    },
    router: new VueRouter({
      routes: [{
          path: '/',
          component: singList
        },
        {
          path: '/detail/:id',
          component: detail
        },
        {
          path: '/player/:id/:title',
          component: player
        }
      ]
    })

  })
</script>

</html>