<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<div id="app">
		<!-- v-for 必须按照固定格式写 (value,index) in obj -->
		<!-- 数组 -->
		<p v-for="(item,index) in datas">{{index + " : " + item}}</p>
		<!-- 对象 -->
		<p v-for="(item,index) in obj">{{index + " : " + item}}</p>
		<p v-for="item in obj">{{item}}</p>
		<!-- 数字 -->
		<p>`</p>
		<!-- 字符串 -->
		<p v-for="str in strs">{{str}}</p>
	</div>
	<script src="js/vue.js"></script>
	<script>
		// vue 基于vuemodel，所以第一步要创建一个vue实例
		let vm = new Vue({
			// 内部默认挂载
			// el 你要关联的界面，传递的都是选择器
			el: "#app",
			// data:{} 关连数据，所有数据都存放在对象里
			data: { //vue中的model->data
				datas: [156, 2, 5, 3, 65, 5, 26, 3, 6, 6],
				obj: {
					name: "hjh",
					age: 18,
					girlfriend: ["wel", "wl"]
				},
				nums: 12356894,
				strs: "hjhlovewel"
			}
		})
	</script>
</body>

</html>